# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite build
site/dist/
site/.vite/

# Env files
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# WP
wp-theme/**/.DS_Store
wp-theme/**/node_modules/
